body {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    min-width: 600px;
    height: 100%;
}

.content {
    background-image: url('../img/background/background.png');
    min-height: 1600px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hoverAble {
    transition-duration: 0.8s;
}

.hoverAble:hover {
    background-color: black;
}

.product {
    margin: 0 auto auto;
    visibility: collapse;
}

.product a, h6, img, h5, p, a {
    visibility: visible;
}

.product:hover {
    transform: scale(1.1);
}

h1, h2, h3, h4, h5, h6 {
    text-shadow: 3px 3px black;
}