body {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    min-width: 600px;
    height: 100%;
}

.content {
    background-image: url('../img/background/background.png');
    min-height: 1600px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hoverAble {
    transition-duration: 0.8s;
}

.product {
    margin: 0 auto auto;
    background-color: transparent;
    border: none;
}

.product a, h6, img, h5, p, a {
    visibility: visible;
}

.product:hover {
    transform: scale(1.1);
}

.bundle {
    visibility: collapse;
}

.bundle a, h6, h4, img, h5, p, a {
    visibility: visible;
}

h1, h2, h3, h4, h5, h6 {
    text-shadow: 3px 3px black;
}

img {
    border: solid black 2px;
}

.carousel-caption {
    left: 3%;
    bottom: 6%;
    text-align: left;
    right: auto;
    padding:10px;
    background-image: url('../img/background/background.png');
    border: solid black 2px;
    border-radius: 5px;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}